<div class="welcome-container">
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title>
          <h1 class="welcome-title">Bienvenido</h1>
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <mat-icon class="welcome-icon">waving_hand</mat-icon>
      </mat-card-content>
      
      <mat-card-actions>
       <button mat-raised-button color="primary" routerLink="/widget">
          <mat-icon>add_circle</mat-icon>
          Cargar nuevo widget
        </button>
      </mat-card-actions>
    </mat-card>
  </div>