<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- Logo/Icono de la compañía -->
      <div class="company-icon">
        <img src="https://assets.bancochile.cl/uploads/000/033/321/55c94e0b-0fe7-4a80-bea0-4c16068bfdf8/original/Banco_de_Chile.svg" alt="Company Logo" style="height: 40px;">
      </div>
  
      <span class="spacer"></span>
  
      <!-- Botones de navegación -->
      <div class="nav-btns">
        <button mat-button class="nav-btn">Nuevo Banco</button>
        <button mat-button class="nav-btn">Personas</button>
        <button mat-button class="nav-btn">Privado</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  